.wrapper {
    max-width: 1020px;
    margin: 0 auto;
    
}

.header {
    display: flex;
    justify-content: space-between;
    height: 83px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.navbar {
    width: 425px;
    margin-top: 30px;
    margin-right: 30px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    
}

.navbar ul li a {
    width: 85px;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;   
    font-size: 12px;
     text-align: center;
     /* border-top: none;
     border-bottom: none;
     border-left: none;
     border-right: 0.5px dotted green; */
}


.navbar ul li a:hover {
    color: #f06c64;
}

.navbar ul li a:active {
    color: #f06c64;
}

/* .navbar ul li a:first-child {
    color: #f06c64;
} */

.logo {
    font-size: 25px;
    /* width: 160px; */
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    margin-left: 40px;
    text-transform: uppercase;
}

span {
    color: #f06c64;
}

.logo h1 a {
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}

.slider {
    height: 600px;
    background-color: #f06c64;
    display: flex;
    justify-content: space-between;
    border-bottom: 6px solid #ea676b;;

}

.left-arrow, .right-arrow {
    width: 100px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
   
}

.arrows {
    cursor: pointer;
}

.center-of-slider {
    padding-top: 55px;
}

/* vertical phone */

.base {
    z-index: 15;
    position: absolute;
}

.layer-6-1 {
    position: absolute;
    width: 190px;
    height: 335px;
    margin-left: 14px;
    margin-top: 60px;
    z-index: 20;
}

.shadow {
    position: absolute;
    margin-left: 2px;
    z-index: 10;
}

.speaker, .square, .red-dot {
    position: absolute;
    z-index: 30;
}

.square {
    margin-top: 415px;
    margin-left: 108px;
}

.circle, .outer-circle {
    position: absolute;
    z-index: 25;
}

.circle {
    margin-top: 402px;
    margin-left: 95px;
}

.outer-circle {
    margin-top: 15px;
    margin-left: 109px;
}

.red-dot {
    margin-top: 16px;
    margin-left: 112px;
}

.speaker {
    margin-top: 30px;
    margin-left: 95px;
}

.screen {
    position: absolute;
    z-index: 18;
    margin-top: 58px;
    margin-left: 12px;
}

.center-of-slider {
    width: calc(100% - 200px);
    /* padding-top: 55px; */
}

/* horizontal phone */

.base-2 {
    margin-left: 315px;
    margin-top: 100px;
    position: absolute;
    z-index: 15;
}

.screen-2 {
    position: absolute;
    margin-top: 109px;
    z-index: 18;
    margin-left: 375px;
}

.layer-5-1 {
    position: absolute;
    z-index: 20;
    margin-top: 112px;
    margin-left: 378px;
}

.shadow-2 {
    position: absolute;
    z-index: 10;
    margin-top: 101px;
    margin-left: 316px;
}

.speaker-2 {
    position: absolute;
    margin-top: 187px;
    margin-left: 730px;
    z-index: 50;
}

.red-dot-2 {
    position: absolute;
    margin-top: 200px;
    margin-left: 748px;
    z-index: 50;
}

.outer-circle-2 {
    position: absolute;
    z-index: 40;
    margin-top: 197px;
    margin-left: 745px;
}

.circle-2 {
    position: absolute;
    z-index: 40;
    margin-top: 190px;
    margin-left: 328px;
}

.square-2 {
    position: absolute;
    z-index: 50;
    margin-top: 203px;
    margin-left: 342px;
}

.services {
    height: 495px;
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    border: 6px solid #f2f2f2;
}

.our-services {
    width: 940px;
    text-align: center;
    margin: 0 40px 0 40px;
}

.h2 {
    font-size: 30px;
    margin-top: 55px;
    color: #666d89;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-align: left;
    font-weight: bold;
   
}

.our-services-text {
    width: 940px;
    height: 57px;
    font-size: 17px;
    color: #767e9e;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: left;
    letter-spacing: 0.25px;
    margin-top: 30px;
    line-height: 30px;
}

.flexbox-services {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Lato', sans-serif;
    color: #767e9e;
    margin-left: 40px;
    }

.flex-box-services-block {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.flex-box-services-logo {
    width: 100px;
    position: relative;
    /* border: 1px solid  #767e9e; 
    border-radius: 50%;
    line-height: 10em;
    text-align: center;
    height: 60px; */
}

.pic {
    margin-top: 15px;
    margin-left: -48px;
    position: absolute;
}

.flexbox-services-article {
    width: 220px;
    height: 115px;
  
}

.h3 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: left;
}

.flexbox-services-article-text {
    width: 219px;
height: 128px;
font-size: 12px;
line-height: 22px;
color: #767e9e;
margin-top: 10px;
font-weight: 400;
text-align: left;
}







